/*////////////////////////////////////////////////////////////////
//                    CSS by Mehdi Naseri                       //
////////////////////////////////////////////////////////////////*/

/*body {
    font-family: Tahoma;
    /*font-size: 13px;*/
/*background-image: url("../../Content/Meh/Images/Background.png");
}*/

*/
/*////////////////////////////////////////////////////////////////
//                  اضافه کردن سایه
////////////////////////////////////////////////////////////////*/
.jumbotron {
    box-shadow: -8px 10px 9px 4px rgba(0, 0, 0,0.7);
}

.panel {
    border-radius: 8px;
    box-shadow: -8px 10px 9px 4px rgba(0, 0, 0,0.7);
}

    .panel .panel {
        border-radius: 8px;
        box-shadow: -2px 2px 2px 1px rgb(128, 128, 128);
    }

    .panel .dl-horizontal {
        border-radius: 6px;
    }

    .panel .panel {
        background-image: url("../../Content/Meh/Images/Background2.png");
        padding-right: 20px;
        padding-left: 10px;
    }



/*////////////////////////////////////////////////////////////////
//         //نازکتر کردن سمت چپ منو شامل ثبت نام و ورود 
////////////////////////////////////////////////////////////////*/

.navbar a {
    font-size: larger;
    font-weight: bold;
}

.navbar-right a {
    font-size: x-small;
}

/*////////////////////////////////////////////////////////////////
//                 جهت تغيير رنگ منوهاي بالا                  //
////////////////////////////////////////////////////////////////*/
.navbar-inverse {
    /*background-color: rgb(33, 35, 76);*/
    /*کمی روشنتر*/
    background-color: rgb(44, 47, 116);
}

.navbar .navbar-nav > li > a:hover {
    color: #fff;
    background-color: black;
}

.navbar .dropdown-menu > li > a,
.navbar .dropdown-menu {
    background-color: rgb(53, 56, 118);
    color: #C8C8C8;
}

    .navbar .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: black;
    }


/*////////////////////////////////////////////////////////////////
//                    Kendo UI Grid
////////////////////////////////////////////////////////////////*/

/*نمایش نام ستونها به صورت کامل در یک خط*/
.k-grid-header .k-header .k-link {
    overflow: visible !important;
    white-space: nowrap !important;
}

.k-grid tbody td {
    white-space: nowrap !important;
}
/*ایجاد فاصله بین کامندها*/
td .btn {
    margin-left: 1px;
}

.k-grid table {
    /*position:inherit !important;*/
}

.k-grid-content {
    /*overflow-y: auto;*/
}

.k-grid table {
    /*margin-right: 0.01%;*/
}


/*////////////////////////////////////////////////////////////////
//          اضافه کردن ستاره بعد از فیلدهای الزامی
////////////////////////////////////////////////////////////////*/
.form-group.Meh-required .control-label::after {
    content: "*";
    color: red;
}

/*////////////////////////////////////////////////////////////////
//          سایر موارد
////////////////////////////////////////////////////////////////*/

.form-control {
    max-width: 400px;
}
