@*@model Portal.Models.UserProfile*@


<div class="modal-header alert-info">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
    <h3 class="modal-title">Add User to Role</h3>
</div>


@using (Html.BeginForm("AddUserRole", "Identity", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group Meh-required">
                <label class="control-label col-md-2" for="userName">User</label>
                <div class="col-md-10">
                    @Html.DropDownList("userName", new SelectList(ViewBag.UserNames), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group Meh-required">
                <label class="control-label col-md-2" for="roleName">Role</label>
                <div class="col-md-10">
                    @Html.DropDownList("roleName", new SelectList(ViewBag.RoleNames), new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="~/Content/Meh/Images/wait.gif" alt="wait" />
            Sending ...
        </span>

        <input class="btn btn-primary" type="submit" value="Save" />
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
}
